.HomeContainer {
  display: grid;
  grid-template-columns: 1.8fr 0.2fr;
  width: 100vw;
  height: 100%;
  background-color: #fbfbfb;
}

.HomeMain {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  box-sizing: border-box;
  height: 100vh;
  width: fit-content;
  padding: 5px 0px 5px 10px;
}
.HomeMainLower {
  display: grid;
  width: 94vw;
  grid-template-columns: repeat(3, 0.4fr);
  gap: 20px;
}

@media screen and (max-width: 800px) {
  .HomeContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    align-items: center;
    padding: 0px;
    margin: 0px;
    border: none;
    overflow-x: hidden;
  }
  .HomeMain {
    height: fit-content;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90vw;
  }
  .HomeMainLower {
    height: 160vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
  }
}

.dark {
  background-color: #030a23;
  color: white;
}
