@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;600;700&family=Inter:wght@100;400;600&family=Lato:wght@300&family=Open+Sans:wght@300&display=swap");
@font-face {
  font-family: Righteous;
  src: url(./assest/fonts/Righteous-Regular.ttf);
  font-weight: bold;
}

@font-face {
  font-family: Gayathri-Bold;
  src: url(./assest/fonts/Gayathri-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: Gilroy;
  src: url(./assest/fonts/Gilroy-ExtraBold.otf);
  font-weight: bold;
}

@font-face {
  font-family: Gilroy;
  src: url(./assest/fonts/Gilroy-Light.otf);
  font-weight: thin;
}
* {
  margin: 0px;
  --Mobile-NewGameCardWidth: 90vw;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background-color: #e5e5e5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  scroll-behavior: smooth;
}
