.customButton {
  align-self: center;
  position: relative;
  cursor: pointer;
  background-color: #1565d8;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 500;
  height: 50px;
  width: 426px;
  color: white;
  border: none;
  border-radius: 6px;
  text-align: center;
  transition: all 300ms;
}
.customButton:hover {
  background-color: #1545a8;
}

.customButton > img {
  position: absolute;
  left: 10%;
  bottom: 25%;
  width: 24px;
  height: 24px;
  object-fit: contain;
}

@media screen and (max-width: 500px) {
  .customButton {
    width: 350px;
  }
}
